@charset "utf-8";
*{margin:0; padding:0; list-style: none;}
a,a:link,a:visited,a:hover,a:active{text-decoration:none;}
.logo{
    top:20px;
    position:relative;
    right:20%;
    color:black;
}
.wrap{width:1920px; margin:0 auto;}
.submenu>li>a{background:rgba(72, 157, 79, 0.7)}
.menu>li>a, .submenu>li>a{
    display:block !important;
    position:relative;
    text-align:center;
    width:200px; 
    height:80px;
    top:10px;
    line-height:80px;
}
.submenu{display:none;} 
/*.submenu>li{display:none;} */

.menu>li>a:hover, .submenu>li>a:hover{
    display: block;
    background:teal;
    font-weight:bold;
}
.clear::after{
	content:'';
	display:block;
	visibility:hidden;
	width:0; height:0;
	clear:both;
}
.header>nav, .menu{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}
.menu{ display:flex !important;}
.submenu{
    position:absolute;
    width:100%;
}
.util{
    position: absolute;
    right:7%;
    top:38.5px;
}
.util2{
    position: absolute;
    right:2%;
    top:38.5px;
}
.menu>li>a{color:black;}
.submenu>li>a{color:black;}
.util>a{color:black;}
.util2>a{color:black;}
/*메인*/
.main{text-align: center;}
.main2{
    padding-top: 50px;
    width:460px;
    margin: 0 auto;
    border-bottom: 3px solid #814B9D;
}
.main2>h2{
    padding-bottom: 10px;
    font-size:30px;
}
#id{width:460px; margin: 0 auto;}
#id>h2{
    padding-top: 10px;
    font-size: 14px;
    text-align: left;
}
.id_title{margin: 19px 0 8px;}
.id_title1{margin-bottom: 10px;}

.box{
    display: block;
    width:100%;
    position: relative;
    height:51px;
}
.bir_dd, .bir_mm, .bir_yy {
    display: table-cell;
    table-layout: fixed;
    vertical-align: middle;
}
#bir_box{width:140px; height:35px;}
#bir_box1{width:144px; height:39px;}
.bir_wrap{
    display: table;
    width: 100%;
	padding-top:10px;
}
.bir_mm{padding-left:15px; padding-right:15px;}
#top{width:460px; height:35px;}
.phon>h2{
    padding-top: 10px;
    font-size: 14px;
    text-align: left;}
#top1{
    width:464px; 
    height:39px;
}
#top2{
    width:300px; 
    height:39px;
    margin-top: 10px;
    margin-bottom: 10px;
    float:left;
}
.cellect{padding-bottom: 10px;}
.ph_tag{width:464px;}
.ph_tag>a>span{
    font-size: 14px;
    padding-left: 30px;
}
.button{
    position: absolute;
    color:#fff;
    font-size:14px;
    border: 1px solid rgba(0,0,0,0.8);
    background-color: #814B9D;
    opacity: 0.8;
    width:130px;
    height:30px;
    padding-top:10px;
    margin-top: 10px;
    margin-left:-50px;
    }
.last_phon{margin-bottom: 8%;}
.join_btn{
    border:1px solid rgba(0,0,0,0.8);
    height:35px;
    width: 464px;
    margin: 0 auto;
    background-color: #814B9D;
    opacity: 0.8;
    padding-top: 10px;
    margin-bottom: 20px;
}
.join_btn>a{color:#fff;}
/*footer*/
.last{
    font-size:10px;
    text-align: center;
}
#fot{color:black;}