@charset "utf-8";
@import "reset.css";
@media all and (max-width:1024px){
*{margin:0; padding:0; list-style: none;}
.wrap1{width:100%; overflow-x: hidden;}
a,a:link,a:visited,a:hover,a:active{text-decoration:none;}
::-webkit-scrollbar{width:14px;}
::-webkit-scrollbar-track{background-color: #f6f6f6;}
::-webkit-scrollbar-thumb{background-color: grey;}
body{background-color: black;}
.util{display: none;}
.util2{display: none;}
.main_text, .main_text2, .main_text3, .pg_text{display: none;}
.page{width:100%; height:100%;}
.wrap{
    width:100%; 
    margin: 0 auto;
}
.header{
    z-index:9999;
    position:fixed;
    top:0;
}
.header>nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:80px;
}
#menu_btn{
    display:block;
    width:80px;
    margin-left:20px;
}
#menu_btn>span{
    display:block;
    background:#fff;
    width:100%;
    height:4px;
    transition:all .3s;
}
#menu_btn>span:nth-child(2){
    margin:15px 0px;
}
.menuAni{
    background:#cfc;
    position:relative;
    width:100%;
    z-index:99;
}
#menu_btn.menuAni>span{
    background:#cfc;
    transition:all .3s;
}
.menuAni::before{
    content:'';
    display:block;
    width:80px; height:4px;
    top:20px; left:0;
    text-align:center;
    transform:rotate(-45deg);
    position:absolute;
}
.menuAni::after{
    content:'';
    display:block;
    width:80px; height:4px;
    top:20px; left:0;
    text-align:center;
    transform:rotate(45deg);
    position:absolute;
}

.menu{
    width:100%;
    margin:80px auto;
    position:absolute;
    display:none;
    top:0;
}
.menu>li>a, .submenu>li>a{
    display:block;
    padding:10px 0px 10px 30px;
    border-bottom:1px solid rgb(0,153,153);
    width:100%;
    transition:all .1s;
}
.menu>li>a:hover,.submenu>li>a:hover{
    background:rgba(0,193,193,0.5);
}
.submenu{display:none;}

.submenu>li>a{
    padding:10px 0px 10px 50px;
}
.submenu>li>a::before{content:'- ';}
.video{width:100%; height:800px;}
.video>h2, .video>h3, .video>h4{
    text-align: center;
    color:#fff;
}
.page1{width:100%;}
.video>h2{
    font-size: 80px;
    margin-top:100px;
}
.video>h5{
    vertical-align: -10px;
    font-size:30px;
    border:1px solid #fff;
    background-color: rgba(255, 255, 255, 0.8);
    width:300px;
    height:70px;
    border-radius: 35px;
    margin:0 auto;
    text-align: center;
    vertical-align: middle;
    margin-top: 50px;
}
.video>h5>a{
    color:black;
    font-size: 23px;
    padding-top: 10px;
    vertical-align: -10px;
}

.m_text3{
    padding-top: 60px;
    left:225px;
    font-size:30px;
    line-height: 1.5em;
    margin: auto;
}
/*page2*/
.page2>img{width:100%;}
.square{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    color:#fff;
}
.square>h2{
    font-size: 40px;
    text-align: left;
}
.m_text5>h3{color:#fff;}  
.square{height:auto;}
#none>a{
    color:#fff;
    border-bottom: 2px solid #fff;
    float:right;
}
.page3>img{width:100%;}
.page4{width:100%;}
.img_1{display: none;}
}